section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

button {
    background-color: #FFA44D;
    color: white; 
    border: none;
    border-radius: 20px; 
    padding: 10px 20px;
    font-size: 16px; 
    cursor: pointer; 
    font-family: Arial, sans-serif; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease; 
}

button:hover {
    background-color: #ff9232;
}

button:active {
    background-color: #e6852b; 
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input[type="text"] {
 
    padding: 7px;
    border: none;
    border-radius: 5px;

}

.links{
    background-color: #575757;
    border-radius: 5px;

    color: white;
            text-decoration: none;
            padding: 10px;
            font-size: 18px;
}